/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* --------------------------------------------------------------------------
   Browse Happy prompt
   -------------------------------------------------------------------------- */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* --------------------------------------------------------------------------
   Main styles
   -------------------------------------------------------------------------- */
.bkg-grey{
	background: #f3f3f3;
}

body{
	overflow-x: hidden;
}

    

  
   

/* --------------------------------------------------------------------------
   Hero
   -------------------------------------------------------------------------- */
   
header{
	height: 650px;
}   

 
   
   
.logo{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 22px;
}

.hero-txt{
	margin: 100px 0px;
	font-size: 64px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	z-index: 30;
}

header img{
	position: absolute; 
	top: 60px;
	left: 350px;
}




/* --------------------------------------------------------------------------
   Slant Interims
   -------------------------------------------------------------------------- */
.position-rel{
	position: relative;
}

.slant:before{
	background: #fff;
	content: "";
	display: block;
	height: 225px;
	left: 50%;
	position: absolute;
	bottom: 0;
	transform: rotate(-5deg) translateX(-50%);
	transform-origin: center top 0;
	width: 120%;
	z-index: 5;
}

.interim-title{
	width: 100%;
	position: absolute;
	bottom: 75px;
	text-align: center;
	z-index: 10;
}

.interim-title span{
	font-size: 44px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}




.interim-title-test{
	width: 100%;
	position: absolute;
	bottom: -155px;
	text-align: center;
	z-index: 10;
}


.interim-title-test span{
	font-size: 44px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}


.overlay{
	z-index: 20;
} 


/* --------------------------------------------------------------------------
   Profile Section
   -------------------------------------------------------------------------- */
   
  
   
   
   
   
   
   
   
   
   
.about{
	margin-bottom: 180px;
}   
   
   
   
   
.about h2{
	margin: 0px;
	font-size: 36px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}   
   
.about .icons-row{
	display: block;
	width: 850px;
	margin: 30px auto;
}

.about .icons{
	float: left;
	margin-right: 40px;
	text-align: center;
}

.about .icons:last-child{
	margin-right: 0px;
}

.about .icons img{
	width: 50px;
}

.about .icons p{
	font-weight: bold;
}

.intro .col-xs-4{
	font-family: 'Mate', serif;
	text-align: right;
	font-size: 24px;
	line-height: 36px;
}

.intro .col-xs-8 p{
	color: #aaa;
	font-family: 'Mate', serif;
	font-size: 16px;
	line-height: 34px;
	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
}














/* --------------------------------------------------------------------------
   Portfolio section
   -------------------------------------------------------------------------- */

/* Main Styles */

.work-intro{
	margin: 50px 0px;
	text-align: center;
}

.work-intro h2{
	font-size: 28px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}

.work-intro p{
	font-family: 'Mate', serif;
	font-size: 15px;
	line-height: 1.6em;
	color: #999;
}

.divider{
	display: block;
	margin: 30px auto 30px auto;
	width: 80px;
	border-bottom: solid 1px #ccc;
}

/* Work 1: RGF Singapore */

.work-1{
	padding-top: 120px;
}

.work-1 p{
	padding: 0px 220px;
}

.work-1 img{
	display: block;
	width: 90%;
	margin: 0px auto;
}

/* Work 2: PTGC */

.work-2{
	padding: 120px 0px;
}

/* Work 2: jermainewong */

.work-3{
	padding: 100px 0px 350px 0px;
}

.work-3 img{
	width: 100%;
}










/* --------------------------------------------------------------------------
   Button
   -------------------------------------------------------------------------- */
.btn{
	display: inline-block;
	margin-top: 20px;
	padding: 5px 18px;
	border: solid 3px #030303;
	border-radius: 0px;
	color: #030303;
}





/* --------------------------------------------------------------------------
   Footer
   -------------------------------------------------------------------------- */

footer{
	height: 320px;
}

footer a{
	display: inline-block;
	padding: 50px 0px 20px 0px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 36px;
	color: #030303;
}

footer a:hover{
	color: #b99867;
}



/* --------------------------------------------------------------------------
   Media Queries for Responsive Design.
   -------------------------------------------------------------------------- */






