/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* --------------------------------------------------------------------------
   Browse Happy prompt
   -------------------------------------------------------------------------- */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* --------------------------------------------------------------------------
   Main styles
   -------------------------------------------------------------------------- */
.bkg-grey{
	background: #f3f3f3;
}

.bkg-yellow{
	background: #ffffec;
}

/* --------------------------------------------------------------------------
   To be deleted
   -------------------------------------------------------------------------- */
   
body{
	overflow-x: hidden;
}
     
section{
	min-height: 600px;
	padding: 50px 0px 0px 0px;
}

header{
	min-height: 600px;
	padding: 50px 0px;
	
}

footer{
	height: 500px;
}







/* --------------------------------------------------------------------------
   Hero, Intro section
   -------------------------------------------------------------------------- */





.test:before{
	background: #fff;
	content: "";
	display: block;
	height: 225px;
	left: 50%;
	position: absolute;
	bottom: 0;
	transform: rotate(-5deg) translateX(-50%);
	transform-origin: center top 0;
	width: 120%;
	z-index: 150;
}































/* --------------------------------------------------------------------------
   Profile Section
   -------------------------------------------------------------------------- */
.about .icons-row{
	display: block;
	width: 850px;
	margin: 0px auto;
}

.about .icons{
	float: left;
	margin-right: 40px;
	text-align: center;
}

.about .icons:last-child{
	margin-right: 0px;
}

.about .icons img{
	width: 50px;
}

.about .icons p{
	font-weight: bold;
}

.intro .col-xs-4{
	font-family: 'Georgia', serif;
	text-align: right;
	font-size: 24px;
	line-height: 36px;
}

.intro .col-xs-8 p{
	color: #aaa;
	font-family: 'Georgia', serif;
	font-size: 16px;
	line-height: 34px;
	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
}














/* --------------------------------------------------------------------------
   Portfolio section
   -------------------------------------------------------------------------- */

.work-intro{
	margin: 50px 0px;
	text-align: center;
}

.work-intro span{
	font-style: italic;
}



.work-img img{
	width: 100%;
}

















/* --------------------------------------------------------------------------
   Button
   -------------------------------------------------------------------------- */
.btn{
	display: inline-block;
	margin-top: 20px;
	padding: 5px 18px;
	border: solid 3px #030303;
	border-radius: 0px;
	color: #030303;
}














/* --------------------------------------------------------------------------
   Media Queries for Responsive Design.
   -------------------------------------------------------------------------- */






